# pandas and Data Wrangling

## Introduction

**pandas** is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language<sup>1</sup>.

GeeksforGeeks describes **Data wrangling** as, "the process of gathering, collecting, and transforming Raw data into another format for better understanding, decision-making, accessing, and analysis in less time. Data Wrangling is also known as Data Munging."<sup>2</sup>

This session will provide an overview of common Pandas' API (methods) used to transform your datasets.

We will learn to :
- Install Pandas
- Define the DataFrame and Series classes
- Work with columns and rows
- Filter rows
- Apply or update data
- ~~Merge and~~ concatenate datasets
- Read and ~~write~~ to a file
- Do more, time permitting

This presentation assumes that Python 3.7.x or greater is already installed on your Raspberry Pi or other SBC (or Windows, Mac, or Linux system).

### Notes
* pandas relies on a variety of different libraries for reading and writing data from remote resources depending on the protocol.  Support for IPv6 should be documented by the authors of the libraries.
* Security issues with pandas are beyond the scope of this presentation.

### Coding Style/Syntax/Nomenclature
Where possible (and I remember),

* function/method arguments/parameters will include the keyword.  For example, instead of calling a function using `quadratic(1,2,3)`, I will use `quadratic(a=1, b=2, c=3)`.
* pass a list of values when the parameter accepts either a single item or a list of items.  For example, I use `foo(data=['1'])` rather than `foo(data='1')`.
* stick with 'method' and 'parameters' rather than 'function' and 'arguments' respectively, because pandas is object-oriented and uses that terminology in the documentation.

## Install pandas

Prerequisites
* python >= 3.7.x
* pip
* git [optional]
* python-virtualenv [recommended]

To install pandas, using pip on the command line

`pip install pandas`

Details on installing pandas via Anaconda, Miniconda, Linux Distro, etc. can be found here: https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html

To use pandas in your code, simply import the module.  The convention is to rename the module to 'pd' during the import.

In [ ]:
import pandas as pd

## Define Panda Data Structures

### Series
A *Series* is an one-dimension ndarray (N-dimensional array), with labels, that can hold any Python data type (integers, floats, strings, objects).  The labels along the axis are called the index.

Conceptually, a visual representation of a series, with labels "a", "b", "c" and values 1.0, 2.0, 3.0, respectively is:

|index|data|
|-----|----|
|"a"  |1.0 |
|"b"  |2.0 |
|"c"  |3.0 |

Labels should be a hashable type, such as an integer, float, or string.  The labels don't need to be unique and can be different types.  (I would advise against duplicate labels and mixing types.)

#### Creating Series objects

Series of integers, with pandas defining the index.

Notice that the first column of the output is the index and the second column contains the values.  The last line is the data type of all the elements.

In [ ]:
pd.Series(data=[1,2,3])

Series of strings, with labels provided.

By default, strings are considered objects but we can override that by specifying the data type.

In [ ]:
pd.Series(data=['a','b','c'], index=['a','b','c'], dtype='string')

Series with different data types and labels provided.  The data type is 'object' because of the mixed values.

In [ ]:
pd.Series(data=['a',1,2.0,[1,2,3],{'x': 1.0, 'y': 2.0, 'z': 4.0}],
          index=['string','int','float','list','dict'])

#### Accessing Series object values

First value of a series with a default index.  (Remember that Python uses zero-based indexes, so 0 refers to the first element.)

In [ ]:
series = pd.Series(data=[1,2,3])
label = 0

series[label]

Value of the series at the label 'c'.

In [ ]:
series = pd.Series(data=[1,2,3], index=['a','b','c'])
label = 'c'

series[label]

An error occurs if we try to access a label that doesn't exist in the Series.

In [ ]:
try:
    print(series[1000])
except IndexError:
    print('IndexError')
    
try:
    print(series['invalid'])
except KeyError:
    print('KeyError')

Value of a specific list item at the label 'list'.

In [ ]:
series = pd.Series(data=['a',1,2.0,[1,2,3],{'x': 1.0, 'y': 2.0, 'z': 4.0}],
                   index=['string','int','float','list','dict'])
label = 'list'
index = 1

series[label][index]

Dictionary value at the label 'dict' with the key 'y'.

In [ ]:
series = pd.Series(data=['a',1,2.0,[1,2,3],{'x': 1.0, 'y': 2.0, 'z': 4.0}],
                   index=['string','int','float','list','dict'])
label = 'dict'
key   = 'y'

series[label][key]

#### Manipulating Series objects

These are various ways of changing, adding, or removing values in a Series.

In [ ]:
series = pd.Series(data=[1,2,3])

# change a value
series[0] = 1000

# append a value
series[len(series)] = '4'

# remove an row
series = series.drop(labels=[1])

# remove row without reassignment; default for inplace is False
series.drop(labels=[3], inplace=True)

# add values at arbitrary indices
series[9] = '10'
series['ten'] = '11'

print(series)

Reset the index to a default integer index.  (Notice that the original index is preserved as a new column.  Use the parameter, `drop=True`, to exclude it.)

In [ ]:
series.reset_index()

### DataFrame

A *DataFrame* is an two-dimension array, with labels for both the rows (index) and columns.  Each column can hold any Python data type (integers, floats, strings, objects).  Think of a DataFrame as a SQL table or spreadsheet file.

Labels for both axes should be a hashable type, such as an integer, float, or string.  The labels don't need to be unique and can be different types.  (I would advise against duplicate labels and mixing types.)

#### Creating DataFrame objects

DataFrame, with a column of integers and another of strings, with pandas defining the index.

In [ ]:
df = pd.DataFrame(data = [[1,'a'],
                          [2,'b'],
                          [3,'c']])

df

DataFrame, with a column of integers and another of strings, with a index and column labels provided.

In [ ]:
df = pd.DataFrame(data = [[1,'a'],
                          [2,'b'],
                          [3,'c']],
                  index = ['row_1','row_2','row_3'],
                  columns = ['column_1','column_2'])

df

DataFrame constructed from a dictionary of series, with a column of integers and another of strings, with pandas defining the index and column labels provided.

In [ ]:
df = pd.DataFrame(data = {'column_1' : [1, 2, 3],
                          'column_2' : ['a','b','c']})

df

#### Accessing DataFrame object values

In [ ]:
# DataFrame for section
df = pd.DataFrame(data = [[1,'a',1.0,'abc'],
                          [2,'b',2.0,'def'],
                          [3,'c',3.0,'ghi']])

Select first column of a DataFrame with a default index.

In [ ]:
column_label = 0

df[column_label]

Use Python slices to access row(s):

In [ ]:
df[2:3]

Select multiple columns, in a specific order, and slices to access row(s).

In [ ]:
column_labels = [2,0]

print(df[column_labels][-1:])

#### Manipulating DataFrame objects

In [ ]:
# DataFrame for section
df = pd.DataFrame(data = [[1,'a',1.0,'abc'],
                          [2,'b',2.0,'def'],
                          [3,'c',3.0,'ghi']])

Rename one or more columns by passing a dictionary of the mappings, with each key being the existing column position or name and value is new name.

In [ ]:
df.rename(columns={0:'integers'}, inplace=True)

df

Reassign the value when `inplace=True` isn't used.

In [ ]:
df = df.rename(columns={'integers':'ints'})

df

Drop one or more columns.

In [ ]:
df.drop(columns=[1,2])

## Data Wrangling Exercise

The best way to understand pandas is by working on a dataset.  This exercise will use a dataset, containing a list of repeaters in BC, scraped from https://bcarcc.org/frequency_list into a CSV.

#### Read the data
pandas has many methods for reading data from a variety of sources, such as CSV, JSON, SQL, etc...

The method for reading a CSV has many parameters, such as specifying the seperator character, quote character, line termination type.  In this demonstration, we will simply pass the name and use the parameter defaults - specified in the documentation.

My preference is to allow pandas to define the index, rather than using an existing column that may not contain unique values.

In [ ]:
csv_df = pd.read_csv("data/bcarcc-repeater_list.csv")

csv_df

Notice that Jupyter notebook has nicely formatted the output of the DataFrame.  The continuation ellipses are a function of pandas and can be overwritten by:

```
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
```

Given that the dataset has close to five hundred rows, this example will keep the default display options.

Show the size of the table.

In [ ]:
csv_df.shape

Show the (default) index.

In [ ]:
csv_df.index

Show the column names.

In [ ]:
csv_df.columns

Rename the columns so the labels are all lowercase and more descriptive.

In [ ]:
csv_df.columns = ['band','transmit','receive','location','callsign','mode','access','sponsor','region']

csv_df.head()

Sort the DataFrame by one column, without reassignment.

In [ ]:
csv_df.sort_values(by=['band'])

Sort the DataFrame by multiple columns, without reassignment.

In [ ]:
csv_df.sort_values(by=['band','region'])

Replace the 'NaN' values with an empty string.

In [ ]:
csv_df.fillna('', inplace=True)

csv_df

Search for all repeaters that are located in Victoria.

In [ ]:
csv_df[csv_df['location'] == 'Victoria']

The statement `csv_df[csv_df['location'] == 'Victoria']` instructs pandas to evaluate the 'location' value for each row and create a boolean array.  pandas then uses this array to filter the DataFrame.

The following conditions for filtering are permitted: <,>,==,<=,>=,!=

To negate the filter, use the tilde before the condition.  For example, to find all locations not in Victoria, use `csv_df[~csv_df['location'] == 'Victoria']`

Since the resulting DataFrame wasn't reassigned to itself or to a new variable, the filtering isn't preserved.

You may also see columns referenced using a dot notation.  For example, `csv_df['location']` is the same as csv_df.location.  I prefer using square brackets so I can pass use a list to display more than one column.

In [ ]:
csv_df['location'] == 'Victoria'

The same filter as above but using `loc` and dropping two columns, without reassignment.

In [ ]:
csv_df.loc[csv_df['location'] == 'Victoria'].drop(columns=['location','region'])

pandas can create a boolean array for filtering based on multiple conditions.  Unlike other languages the 'and' condition is one ampersand (&) and, the 'or' is one pipe (|).  Each condition **must** be surrounded by parentheses.  If you want to negate the all of the conditions, you must then wrap the conditions with parentheses and use a tilde before the opening parenthesis (or switch up your logic).  You can also negate individual conditions by including a tilde before the opening parenthesis of the condition.

In [ ]:
csv_df[(csv_df['location'] == 'Victoria') & (csv_df['sponsor'] != 'WARA')]

pandas has a method for removing duplicate values.

In [ ]:
csv_df['band'].drop_duplicates()

Imagine we want to know all the 2-metre and 70-centimetre repeaters

In [ ]:
bands = [144,440]

csv_df[csv_df['band'].isin(bands)]

Note quirk about using regex
Does whole

In [ ]:
csv_df = csv_df.replace(to_replace='&amp;',value='&',regex=True)

csv_df

In [ ]:
csv_df['region'].replace(to_replace=r'^BC\s(.*)',value=r'BRITISH COLUMBIA \1', regex=True, inplace=True)

csv_df

#### Advanced  Exercise

https://climate.weather.gc.ca/

https://sunrise-sunset.org/

In [ ]:
april_weather_data = {}
april_suntimes_data = {}

for year in range(2018,2023):
    april_weather_data[year] = pd.read_csv(f'data/en_climate_hourly_BC_1018621_04-{year}_P1H.csv')
    april_suntimes_data[year] = pd.read_csv(f'data/sunrise-sunset_victoria_bc_canada_{year}-04.csv')

In [ ]:
april_weather_data[2022][['Temp (°C)','Dew Point Temp (°C)','Rel Hum (%)']].describe()

In [ ]:
all_april_weather_data = pd.concat([april_weather_data[2018],
                                    april_weather_data[2019],
                                    april_weather_data[2020],
                                    april_weather_data[2021],
                                    april_weather_data[2022]],
                                   axis=1)

all_april_weather_data.shape

In [ ]:
# T(°F) = T(°C) × 9/5 + 32
april_weather_data[2022]['Temp (°F)'] = april_weather_data[2022]['Temp (°C)'] * 9/5 + 32

april_weather_data[2022][['Temp (°C)','Temp (°F)']].head()

## Conclusion

This presentation is just the tip of the iceberg when it comes to the pandas API.  I have been working with pandas for almost three years and discovered new methods and techniques for wrangling data.

## References

1. https://pandas.pydata.org